
body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../fcai3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: cursive;
    background-size: cover;
}



.login-box {
    color: rgb(253, 253, 253);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.login-box h1 {
    float: left;
    font-size: 50px;
    border-bottom: 6px solid #009688;
    margin-bottom: 50px;
    padding: 13px 13px
}

.textbox {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 3px solid #009688;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 23 px;
    width: 80%;
    float: left;
    margin: 0 18px
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #009688;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12 0;
}

.btn1 {
    width: 100%;
    background: none;
    border: 2px solid #009688;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12 12;
}
a{
    text-decoration: none;
    color: #fff;
}