body{
  display: flex;
  height: 100vh;
  justify-content: center;

  background : linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../fcai3.png);
}
a{
  color: black;
  text-decoration: none;
}